<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{title}}
    </title>
    <link href="../public/css/main.css" rel="stylesheet" />
</head>

<body>
    {{>header}}
    <main>
        {{{body}}}
    </main>
    {{>footer}}
</body>

</html>